﻿@ModelType Products

@Code
    'ViewData("Title") = Model.productDetail.name
    Layout = "~/Views/Shared/_Layout.vbhtml"
End Code

@section styles
    <link href="~/Content/wishlist.css" rel="stylesheet" />
End Section


    <div>
        Wishlist
    </div>

