﻿@Code
    ViewData("Title") = "Then & Now"
    Layout = "~/Views/Shared/_Layout.vbhtml"
End Code

<div style="margin:50px auto;text-align:center;">
    <img src="~/Images/layout/ContentPageImages/Then-And-Now-7-2020.png" />
</div>

