﻿/*#contact-header{width:100%;text-align:center;font-size:2em;font-family:DIN-Condensed-Bold;background:linear-gradient(rgba(20, 20, 20, 0.5), rgba(20, 20, 20, 0.5)),url(/images/layout/contact-us.jpg);padding-top:25%;background-size:cover;}
#contact-header-text{position:absolute;top:20%;z-index:100;text-align:center;color:white;font-size:2.5em;width:100%;}
#contact-content-wrapper{display:flex;width:80%;margin:20px auto;}
#contact-info-wrapper{
    width:45%;text-align:justify;display:inline-flex;flex-direction:column;justify-content:center;align-items:center;

    div{
        width:50%;

        span:first-of-type{
            font-family:DIN-Condensed-Bold;font-size:1.5em;
        }

        span:not(:first-of-type){
            font-family:DIN-Light;font-size:1em;margin:15px 0;display:block;
        }
    }
    div:nth-child(2){padding-top:25px;}
}

#contact-map-wrapper{width:55%;display:inline-flex;flex-direction:column;justify-content:center;align-items:center;}*/
#page-wrapper {
  width: 80%;
  margin: 25px auto 15px; }

.block {
  display: inline-block;
  width: 24.5%;
  vertical-align: top; }
  .block .block-content div {
    line-height: 2;
    font-size: 15pt;
    font-family: 'Verlag-Light'; }
    .block .block-content div a {
      color: black; }

.title {
  font-family: 'Verlag-Light';
  font-size: 13pt;
  font-weight: bold;
  margin: 25px 0; }

#page-wrapper > .title {
  margin-bottom: 15px; }

#email-form-wrapper {
  display: inline-block;
  width: 69%; }

#email-form {
  width: 85%; }
  #email-form div {
    width: 100%;
    font-family: 'Verlag-Light'; }
    #email-form div label {
      display: block;
      font-size: 15pt; }
      #email-form div label span {
        color: red;
        font-weight: bold; }
    #email-form div input[type=text], #email-form div input[type=email], #email-form div textarea {
      width: 100%;
      margin: 15px 0;
      /*border-radius: 10px;*/
      /*border: 2px solid;*/
      padding: 0 10px; }
    #email-form div input[type=text], #email-form div input[type=email] {
      height: 40px;
      font-size: 12pt; }
    #email-form div input[type=button] {
      color: black;
      font-family: 'Verlag-Light';
      cursor: pointer; }
  #email-form .email-message {
    visibility: hidden; }

#dialog #dialog-content #email-form {
  width: 95%; }

.ui-widget-overlay {
  background: black !important;
  opacity: 0.75 !important; }

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .block {
    width: 100%; }
  #email-form {
    width: 95%; } }

@media only screen and (min-width: 480px) and (max-width: 599px) {
  .block {
    width: 100%; }
  #email-form {
    width: 95%; } }

@media only screen and (min-width: 600px) and (max-width: 767px) {
  .block {
    width: 49.5%; }
  #email-form {
    width: 95%; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .block {
    width: 49.5%; }
  #email-form {
    width: 95%; } }

@media only screen and (min-width: 320px) and (max-width: 1199px) {
  .block .block-content div {
    font-size: 13pt; } }
