﻿#content-wrapper {
    width: 90%;
    margin: 50px auto;
    display: block;
}

#content-image {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

#content-image img {
    width: 100%;
}

#content {
    display: inline-block;
    width: 45%;
    margin-left: 4.5%;
    vertical-align: top;
    font-family: 'Verlag-Light';;
}

#content-title {
    font-size: 17pt;
    font-weight: bold;
    margin-bottom: 25px;
    font-family: 'MillerText-Roman';
}

@media only screen and (max-width:1023px){
    #content-image{
        width:100%;
        display:block;
    }

    #content{
        display:block;
        width:100%;
        margin-left:0;
        margin-top:50px;
    }
}