﻿body {background-color:white;}
a {text-decoration:none;}

/*Landing page css*/

.mfp-zoom-out-cur {
            z-index: 9999;
        }

        #main-nav {
            z-index: 1000;
        }

        #splash-screen {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 90vh;
        }

        #splash-screen-overlay {
            background-color: white;
            z-index: 9999;
            width: 95%;
            height: 100%;
        }

        #splash-screen-img {
            position: relative;
            /*left: 0px;
            right: 0px;
            top: 45%;*/
            margin: 0 auto;
            display:none;
        }

        .section-header {
            font-family: Avenir;
            font-size: 25pt;
            margin: 15px 0;
            text-align: center;
        }

        #block-link-wrapper {
            width: 95%;
            margin: 0 auto 2.5%;
        }

        .block-link {
            margin-left: 2.5%;
            width: 46%;
            display: inline-block;
            margin-top: 2.5%;
            padding-top: 28%;
            position: relative;
        }

        .block-overlay, .block-overlay-text-wrapper {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
        }

        .block-overlay {
            background: rgba(20, 20, 20, 0.25);
        }

        .block-overlay-text a {
            color: white;
        }

        .block-overlay-text {
            color: white;
            font-family: avenir;
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            background: linear-gradient(transparent, rgba(20, 20, 20, 0.9));
            padding-top: 50px;
        }

        .block-link-topic {
            font-size: 12pt;
            font-weight: bold;
        }

        .block-link-tagline {
            font-size: 2.75vw;
            margin-top: 20px;
            text-transform:uppercase;
            line-height:2.15vw!important;
        }

        .block-link-click {
            margin: 50px 0 50px;
            font-size: 12pt;
            font-weight: bold;
        }

            .block-link-click a {
                padding:15px 25px;border:1px solid;
            }

#program-top-wrapper {    
    display: flex;
    border-bottom:1px solid gainsboro;
}

#program-top-img-wrapper {
    position: relative;
    width: 40%;
    display: inline-flex;
}

#program-top-text-wrapper {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    font-family: font-family:'Verlag-Light';
    margin-top: 15px;
}

#mfy-tagline {
    padding-bottom:25px;
    text-align:center;
}

    #mfy-tagline img {
        width:50%;
    }

#program-top-name {
    font-size: 1.75vw;
    font-family: 'MillerText-Roman';
}

#program-top-description {
    width: 75%;
    margin: 25px 0;
    text-align: justify;
    line-height: 2.25em;
    font-family:'Verlag-Light';
}

    #program-top-description a {
        font-family:'Verlag-Light';
    }

#program-top-inspiration {    
    border: 1px solid;
    font-weight: bold;    
}

    #program-top-inspiration a {
        display: block;
        padding: 15px 25px;
    }


/*Individual program css*/

.ui-widget-header {background:white;border:none;border-bottom:1px solid gainsboro;}

            .ui-widget.ui-widget-content {border:none;}

            .source-logo-wrapper {position: absolute; top: 0; width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;}

            .source-logo-text {color: white; font-family:'Baskerville'; font-size: 5vw; position: absolute; z-index: 1;top:0;left:0;display:flex;justify-content:center;align-items:center;width:100%;height:100%;}

            .source-logo-letter {display: flex; align-items: center; justify-content: center; position: absolute;top:0;left:0;width:100%;height:100%;}
                .source-logo-letter span:first-of-type {
                    border: 5px solid darkgray;
                    border-radius: 50%;
                    color: darkgray;
                    /*ont-size: 13vw;
                    font-family: 'Baskerville';*/
                    width: 12.5%;
                    height: 35%;
                }

                .source-logo-letter span:last-of-type {
                    position:absolute;top:0;left:0;width:100%;height:100%;display:flex;justify-content:center;align-items:center;font-size:13vw;font-family:"Baskerville";color:darkgray;
                }

            .source-section {padding:25px 0;font-family:'Verlag-Light';}

            .source-section-title {font-size:16pt;margin-bottom:15px;text-align:center;}

#source_program_wrapper {}
#source-program-logo {text-align:center;margin:25px 0;}
#source-program-desc {text-align:center;margin:25px auto;font-size:12pt;width:95%;}
.source-program-section-img-wrapper {position:relative;margin:50px 0;}
.source-program-section-img-overlay {background-image:linear-gradient(to right,rgba(5, 5, 5, 1), rgba(20, 20, 20, 0.2));position:absolute;top:0;width:100%;height:100%;}
.source-program-section-img-overlay-text {color:white;position:absolute;top:0;left:0;z-index:9999;text-align:center;width:45%;height:100%;display:flex;align-items:center;justify-content:center;flex-direction:column;}
.source-program-section-img-title {font-size:50pt;font-weight:bold;}
.source-program-section-img-text {font-size:13pt;width:90%;line-height:2;margin-top:40px;}
.source-program-header {text-align:center;font-size:19pt;margin:50px 0 25px;}
.source-program-item-wrapper {width:19.5%;display:inline-block;text-align:center;}    
.source-program-item-details {font-size:12pt;}
.source-program-section-note {margin:50px 0;text-align:center;}
.source-program-section-img-wrapper_fab_finish {position:relative;margin-top:50px;}
.source-program-section-img-overlay_fab_finish {background-image:linear-gradient(to bottom,rgba(5, 5, 5, 1), rgba(20, 20, 20, 0.2));position:absolute;top:0;width:100%;height:100%;}
.source-program-section-img-overlay-text_fab_finish {color:white;position:absolute;top:0;left:0;z-index:9999;text-align:center;width:100%;height:100%;display:flex;align-items:center;justify-content:center;flex-direction:column;}
#source-program-fab-finish-btns {width:60%;}
.source-program-fab-finish-btn {display:inline-block;width:25%;padding:15px;border:1px solid white;margin:15px;font-size:12pt;font-weight:bold;cursor:pointer;}
    .source-program-fab-finish-btn a {color:white;}


.tab {
    
    text-transform:uppercase;
    font-size:10pt;
}

.ui-tabs .ui-tabs-nav {
    font-family:'Verlag-Light';
}

.dimension-img {
    margin: 15px 0;
    text-align: center;
}

.program-option {
    display:inline-block;width:19%;text-align:center;margin-bottom:50px;vertical-align:top;
}

.program-option-type {
    text-align:center;margin:50px 0 25px;font-size:14pt;font-family:'Verlag-Light';
}

.option-name {
    font-family: 'MillerText-Roman';
    font-size:10.5pt;
}

.option-sku {
    font-family:'Verlag-Light';
    font-weight:bold;
    font-size:10.5pt;
}

#stepdescription {
    text-align:center;
    margin:25px auto 0;
    font-size:15pt;
    padding:15px;
    font-weight:bold;
    font-family:'Verlag-Light';
}

@media (max-width:400px) {
    .block-link-click a {
        font-size:10pt;
    }
}

@media (min-width: 320px) and (max-width: 599px) {

/*Landing page css*/

    #splash-screen-img {
        /*top:35%;*/
        width:85%;
    }

    .program-overview {
        height:100%;
    }

    .program-overview-logo {
        font-size: 5vw;
        margin: 5px 0;
    }

    .program-overview-content {        
        font-size:8.5pt;
    }

    .program-content-name {
        font-size:6vw;
        top:25%;
    }

    .program-content-letter {
        top:16%;
        height:37%;
    }

        .program-content-letter span {
            font-size:14vw;
        }

    .program-content-buttons {
        bottom:10%;
    }

    .program-button {
        font-size:7pt;
        padding:5px 0;
        width:75px;
        margin:0 5px;
    }

    .program-gallery div {
        width:32.25%;
    }

    .hide-gallery i {
        font-size:1em;
        padding:2px;
    }

/*Individual program css*/

    .source-logo-text {
        /*font-size:9vw;*/
    }

    .source-logo-letter {
        /*border:4px solid gainsboro;*/
        font-size:22vw;
        /*width:22.5%;
        height:60%;*/
    }

    .tab {
        font-size:8pt;
    }

    .program-option {
        width:100%;
        font-size:11pt;
    }
}

@media (min-width: 600px) and (max-width: 767px) {
    .program-overview {
        height:100%;
    }

    .program-overview-logo {
        font-size:5vw;
    }

    .program-overview-content {        
        font-size:9pt;
    }

    .program-content-name {
        font-size:6vw;
        top:25%;
    }

    .program-content-letter {
        top:16%;
        height:37%;
    }

    .program-content-buttons {
        bottom:10%;
    }

    .program-button {
        font-size:9pt;
        padding:10px 5px;
        width:90px;
        margin:0 10px;
    }

    .program-gallery div {
        width:32.75%;
    }

    .hide-gallery i {
        font-size:1em;
        padding:5px;
    }

    /*Individual program css*/

    .source-logo-text {
        /*font-size:9vw;*/
    }

    .source-logo-letter {
        /*border:4px solid gainsboro;*/
        font-size:22vw;
        /*width:22.5%;
        height:60%;*/
    } 

    .program-option {
        width:49.25%;
        font-size:11pt;
    }
}

@media (max-width: 767px) {
    #program-top-img-wrapper {
        display:none;
    }

    #program-top-text-wrapper {
        width:100%;
        margin-bottom:25px;
    }

    #program-top-name {
        font-size:20pt;
        margin-top:15px;
    }

    #program-top-description {
        width:90%;
    }

    .block-link {
        width:95%;
        padding-top:65%;
    }

    .block-link-tagline {
        font-size:7vw;
        line-height:7vw!important;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .program-overview {
        height:70%;
    }

    .program-overview-logo {
        font-size:3.5vw;
    }

    .program-content-name {
        font-size:6vw;
        top:30%;
    }

    .program-content-letter {
        top:22%;
        height:37%;
    }

    .program-content-buttons {
        bottom:10%;
    }

    .program-button {
        font-size:9.5pt;
        padding:10px 5px;
        width:90px;
        margin:0 10px;
    }

    .program-gallery div {
        width:32.75%;
    }

    .hide-gallery i {
        font-size:1em;
        padding:5px;
    }

    /*Individual program css*/

    .source-logo-text {
        /*font-size:6vw;*/
    }

    .source-logo-letter {
        /*border:4px solid gainsboro;*/
        font-size:15vw;
        /*width:16.5%;
        height:42%;*/
    } 

    .program-option {
        width:32.25%;
        font-size:11pt;
    }
}


@media (min-width: 1024px) and (max-width: 1199px) {
    .program-overview {
        height:35%;
    }

    .program-button {
        font-size:9.5pt;
        padding:15px 10px;        
    }

    .program-gallery div {
        width:33%;
    }

    /*Individual program css*/

    .source-logo-text {
        /*font-size:6vw;*/
    }

    .source-logo-letter {
        /*border:4px solid gainsboro;*/
        font-size:15vw;
        /*width:16.5%;
        height:42%;*/
    } 

    .program-option {
        width:24.25%;
        font-size:11pt;
    }
}

@media (max-width:1199px) {
    #program-top-img-wrapper {
        display:none;
    }

    #program-top-text-wrapper {
        width:100%;
    }

    #program-top-wrapper {
        border-bottom: 1px solid gainsboro;
        padding-bottom:20px;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .program-option {
        width:24.25%;
        font-size:11pt;
    }  


}

@media (min-width: 1200px) {
    #program-top-img-wrapper, #program-top-text-wrapper {
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .block-link {
        margin-left:1.5%;
        width:31.25%;
        margin-top:1.5%;
        padding-top:20%;
    }

    .block-link-tagline {
        font-size:2.15vw;
        line-height:2.15vw!important;
    }
}


