﻿body {
  height: 100%;
  /*overflow-y: hidden;*/
  top: 0;
  position: absolute;
  width: 100%; }

#content-wrapper {
  height: 98%; }

.container {
  height: 100%; }

#dealerLocatorSelectWrapper {
  text-align: center;
  padding-bottom: 50px;
  /*border-bottom: 1px solid gainsboro;
    position: relative;
    top: 65px;*/ }

#dealerLocatorSelect {
  width: 300px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 13pt;
  height: 50px;
  border-radius: 5px; }

#dealerLocatorSelectTitle {
  margin: 15px 0; }

#dealerLocatorSelectTitle span {
  font-size: 18pt;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

#dealerResultWrapper {
  display: flex;
  min-height: 65vh;
  max-height: 70vh;
  /*flex: 0 1 auto;
    position: relative;
    top: 65px;*/ }

.dealerResultList-us {
  width: 20%;
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: scroll; }

#dealerResultList {
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden; }

#dealerResultList-us {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden; }

.dealerResult {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 11pt;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0px;
  border-bottom: 1px solid gainsboro;
  cursor: pointer; }

.dealerResult:hover, .active-dealer {
  background-color: lightgray; }

.dealerResult span {
  display: block;
  padding: 5px 20px; }

#map-wrapper {
  width: 74.5%;
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: gainsboro;
  /*height:98%;*/ }

#map-wrapper iframe {
  border: 0;
  width: 100%;
  height: 95%; }

#resp-dealer-btn {
  display: none; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  /*body{overflow-y:auto;height:100%;}*/
  #dealerResultWrapper {
    display: flex;
    flex-direction: column-reverse;
    min-height: initial;
    max-height: initial; }
  #dealerResultList {
    width: 100%;
    display: inline-block;
    z-index: 99;
    background-color: white; }
  .dealerResultList-us {
    width: 100%; }
  .active-dealer {
    background-color: white; }
  #map-wrapper {
    width: 100%;
    background-color: #F7F7F7;
    height: 75vw; }
  #map-wrapper iframe {
    height: 87%; }
  #map-wrapper span {
    background-color: #F7F7F7;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
    cursor: pointer;
    display: none; }
  #dealerLocatorSelectWrapper {
    padding-bottom: 25px; }
  #dealerLocatorSelectTitle {
    margin: 15px 0; }
  #dealerLocatorSelectTitle span {
    font-size: 17pt; }
  #dealerLocatorSelect {
    font-size: 15pt;
    height: 35px;
    width: 45%; }
  #dealerLocatorSelectWrapper p {
    margin: 10px 0; }
  #dealerResultList-us {
    width: 100%; }
  /*#resp-dealer-btn{
        display:block;
    }*/ }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #dealerResultList {
    width: 40%; }
  #map-wrapper {
    width: 60%;
    /*height:95%;*/ }
  .dealerResult {
    font-size: 10pt; }
  #dealerLocatorSelectWrapper {
    padding-bottom: 50px; } }

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  #dealerResultList {
    width: 30%; } }

/*@media only screen and (max-height:400px;) {

}*/
