﻿#designer-wrapper{
    display:flex;
    flex-direction:row;
    width:95%;
    margin:50px auto;        
}

#designer-img-wrapper {
    display: inline-flex;
    flex-direction: column;
    width: 40%;
    align-items:flex-end;
    justify-content:flex-start;
    padding-top:1%;
    margin-right:5%;

    img{
        max-width:100%;      
    }
}

#designer-content-wrapper {
    display: inline-flex;
    flex-direction: column;
    width: 45%;
    margin-left: 5%;
    font-family: 'Verlag-Light';

    #designer-name {
        margin: 15px 0;
        font-size: 25px;
        font-weight: bold;
        font-family: 'MillerText-Roman';
    }

    .link-wrapper {
        margin: 10px 0;
    }

    a {
        color: black;
        text-decoration: underline;
    }
}

@media only screen and (max-width:1023px) {
    #designer-wrapper{
        display:block;
        width:95%;
    }

    #designer-img-wrapper{
        display:block;
        width:100%;
        margin-right:0;
        text-align:center;
    }

    #designer-content-wrapper{
        display:block;
        width:100%;
        margin-left:0;
        margin-top:50px;
    }
}
