﻿.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.slick-dots {
    bottom: 115px;
}

.slick-dots li button {
    width: 7px;
    height: 7px;
    background-color: white;
    border-radius: 50%;
    padding: 0;
    opacity: .45;
}

.slick-dots li.slick-active button {
    background-color: white;
    opacity: 1;
}

.slick-dots li button:before{
    content:''!important;
}

.slick-slide img {
    width: 100%;
}

.gallery-sku-overlay {
    position: relative;
    top: -50px;
    height: 50px;
    background: rgba(20, 20, 20, 0.65);
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding-left:7px;
    font-family:'Verlag-Light';
    font-size:11.5pt;
}

/*BLOCK LINKS SECTION*/

#block-link-wrapper {
    /*width: 95%;*/
    margin: 0 auto 2.5%;
}

.block-link {
    margin-left: 2.5%;
    width: 46%;
    display: inline-block;
    margin-top: 2.5%;
    padding-top: 32%;
    position: relative;  
}

.block-link-three {
    margin-left:2.5%;
    width:29.75%;
    display:inline-block;
    margin-top:2.5%;
    padding-top:32%;
    position:relative;
}

.block-overlay, .block-overlay-text-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.block-overlay {
    background: rgba(20, 20, 20, 0.25);
}

.block-overlay-text a {
    color: white;
}

.block-overlay-text {
    color: white;
    /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: linear-gradient(transparent, rgba(20, 20, 20, 0.9));
    padding-top: 50px;
}

.block-link-topic {
    font-size: 12pt;
    font-weight: bold;
}

.block-link-tagline {
    font-size: 25pt;
    margin-top: 20px;
    font-family: 'MillerText-Roman';
}

.block-link-click {
    margin: 0 0 25px;
    font-size: 12pt;
    font-weight: bold;
    text-decoration:underline;
    font-family:'Verlag-Light';
}

@media only screen and (min-width:200px) and (max-width:767px) {
    .block-link{
        width:95%;
        padding-top:55%;
    }

    .block-link-three{
        width:46%;
        padding-top:67%;
    }
}

@media only screen and (max-width:479px) {
    .block-link-three{
        width:95%;
        padding-top:75%;
    }
}

@media only screen and (max-width:1023px) {
    .block-link-tagline{
        font-size:21pt;
    }

    .block-link-click{
        font-size:11pt;
    }
}