﻿body {
    a{
        text-decoration:none!important;
    }
}

#nav-wrapper {
    display: flex;
    background-color: #f7f5f7;   
    padding:5px;
}

#header-social{
    width:50%;
    display:inline-flex;
    justify-content:flex-start;
    align-items:center;

    div{
        display:inline-block;
        margin:0 10px;

        i{
            font-size:1.25em;
            color:gray;
        }
    }
}

#header-links{
    width:50%;  
    display:inline-flex;
    justify-content:flex-end;
    align-items:flex-end;
    font-family:'Verlag-Light';

    div{
        /*min-width:5.25vw;*/
        text-align:center;
        padding:0 10px;

        i{
            color:gray;
            font-size:1em;
            display:inline-block;
            /*display:none;*/
        }

        span{
            display:inline-block;
            font-size:8pt;
            text-transform:uppercase;            
            color:gray;  
            padding-left:5px;
        }      
    }

    div:not(:first-child){
        border-left:1px solid;
    }
}

/*#search-box-wrapper {
    position: relative;
    top: 10px;
    border-top: 1px solid gainsboro;
    text-align: center;
    padding: 15px 0;
    background-color: #f7f5f7;

    #main-nav-searchbox {
        margin: 15px 0;
        border: none;
        border-bottom: 1px solid gainsboro;
        width: 30%;
        font-size: 15pt;
        height: 35px;
        padding: 25px 10px;
        border-radius: 25px;
    }
}*/

#nav-link-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    /*margin-top: 10px;*/
    padding: 10px 0;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;

    #header-logo {
        width: 20%;
        display: inline-flex;

        img {
            display: block;
            width: 100%;
            padding-left: 10px;
        }

        #showroom-logo{
            text-align:center;
            font-family:'Verlag-Light';
            text-transform:uppercase;
            color:black;
            font-size:1.15vw;
            font-weight:bold;
            letter-spacing:3.5px;
        }
    }

    ul {
        list-style: none;
        margin-bottom: 0;
        text-align: center;
        width: 70%;

        li {
            display: inline-block;
            margin: 0 1.5vw;
            text-transform: uppercase;
            font-size: 10pt;
            font-family: 'Verlag-Light';

            a {
                color: black;
                text-decoration: none;
            }
        }
    }

    #nav-search-wrapper {
        width: 15%;

        #nav-search-box {
            border-radius: 25px;
            padding: 8px 10px;
            border: 1px solid gainsboro;
            width: 85%;
            font-family:'Verlag-Light';
        }

        #nav-search-btn {
            position: relative;
            right: 15%;

            i {
                font-size: 1.25em;
            }
        }
    }
}

#nav-link-wrapper-resp, #nav-dropdown-res, #resp-search-wrapper {
    display: none;
}

#resp-search-wrapper {
    position: absolute;
    z-index: 9999;
    background-color: white;
    width: 100%;
    padding: 15px 0 25px;
    text-align: center;
    border-bottom:1px solid gainsboro;

    #resp-search-box{
        margin:15px 0 25px;
        width:60%;
    }
    
    #resp-search-btn {
        border: 1px solid;
        padding: 5px 10px;
        background-color: gainsboro;
        cursor:pointer;
    }
}

#nav-dropdown-res{
    position:absolute;
    z-index:9999;
    background-color:white;
    width:100%;
}

#nav-dropdown {
    display: none;
    position: absolute;
    top: 98px;
    z-index: 9999;
    background-color: white;
    width: 100%;
}

footer {
    width: 100%;
    background: url(/Images/layout/bg-texture.png) repeat 0 0;
    padding: 25px 0 5px;
    font-family: 'Verlag-Light';

    .footer-column-wrapper {
        display: flex;
        width: 80%;
        margin: 0 auto;

        .footer-column:not(:first-child) {
            border-left: 1px solid #f2f2f2;
        }

        .footer-column:not(:last-child) {
            width: 17%;
        }

        .footer-column:last-child {
            width: 32%;
        }

        .footer-column {
            /*width: 25%;*/
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding-left: 2%;

            .footer-column-title {
                font-weight: bold;
                text-transform: uppercase;
                font-size: 9.5pt;
                margin-bottom: 3px;
            }


            ul {
                list-style: none;
                padding: 0;

                li {
                    margin: 7px 0;

                    a {
                        color: black;
                    }
                }
            }

            #footer-email-wrapper {
                margin: 15px 0;

                input {
                    width: 75%;
                }

                span {
                    width: 20%;
                    text-align: center;
                    display: inline-block;
                    border: 1px solid;
                    margin-left: 5%;
                    height: 25px;
                    background-color: lightgray;
                    cursor: pointer;
                }
            }

            #footer-social {
                padding-bottom: 15px;

                div {
                    display: inline-block;
                    margin: 0 7px;

                    i {
                        color: black;
                        font-size: 1.75em;
                    }
                }
            }
        }
    }

    #footer-copyright-wrapper {
        width: 100%;
        text-align: center;
        margin-top: 15px;

        div {
            margin: 10px 0;
        }
    }

    #family-brands-wrapper {
        width: 80%;
        margin: 0 auto;
        text-align: center;

        #brand-header {
            width: 100%;
            text-align: center;
        }

        .brand-wrapper {
            display: inline-block;
            width: 24.5%;
            text-align: center;
            margin: 25px 0;
        }
    }

    #footer-catalogs {
        .nav-catalog-wrapper {
            display: block;
            max-width:none;
            margin:0;

            .nav-catalog-name{
                text-align:left;
                text-transform:none;
                font-size:12pt;
                padding:4.5px 0;
            } 
            
            img {
                display: none;
            }
        }
    }
}

@media only screen and (min-width:200px) and (max-width:1023px) {
    #nav-link-wrapper, #nav-wrapper {
        display: none;
    }

    #nav-link-wrapper-resp {
        display: flex;
        height: 65px;
        border-bottom:1px solid gainsboro;

        #menu-icon {
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 15px;
            width: 10%;

            i {
                font-size: 1.5em;
                cursor: pointer;
            }
        }

        #header-logo-resp {
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 80%;
        }

        #search-resp {
            width: 10%;
            display:inline-flex;
            flex-direction:column;
            justify-content:center;
            align-items:flex-end;
            padding-right:15px;

            i{
                font-size:1.25em;
                cursor:pointer;
            }
        }
    }

    #nav-dropdown-res {
        ul.header-links {
            padding: 0;
            margin: 0;
            border-bottom: 1px solid gainsboro;
            font-family: 'Verlag-Light';
            list-style: none;

            li.header-link {
                border-bottom: 1px solid gainsboro;
                padding: 10px 0 10px 15px;

                a {
                    color: black;
                }
            }
        }

        ul .first-level-links {
            padding: 0;
            margin: 0;
            border-bottom: 1px solid gainsboro;
            font-family: 'MillerText-Roman';
            list-style: none;
            /*margin-left:-13px;
            margin-top:13px;*/
            display: none;

            li.nav-left-link, li.nav-left-header {
                border-top: 1px solid gainsboro;
                padding: 10px 0 10px 35px;
                /*margin-left:25px;*/
                a {
                    color: black;
                }
            }

            .indent{
                padding-left:55px!important;
            }
        }

        ul .second-level-links {
            padding: 0;
            margin: 0;
            border-bottom: 1px solid gainsboro;
            font-family: 'MillerText-Roman';
            list-style: none;
            display: none;

            li.second-level-link {
                border-top: 1px solid gainsboro;
                padding: 10px 0 10px 75px;

                a {
                    color: black;
                }
            }
        }
    }
}

@media only screen and (max-width:479px) {
    #nav-link-wrapper-resp {
        display: flex;
        height: 65px;
        border-bottom: 1px solid gainsboro;

        #menu-icon {
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 15px;
            width: 15%;

            i {
                font-size: 1.5em;
                cursor: pointer;
            }
        }

        #header-logo-resp {
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 75%;

            img{
                width:95%;
            }
        }

        #search-resp {
            width: 10%;
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            padding-right: 15px;

            i {
                font-size: 1.25em;
                cursor: pointer;
            }
        }
    }

    footer {
        .footer-column-wrapper {
            width: 100%;
            display: block;

            .footer-column {
                display: inline-block;
                text-align: center;

                #footer-social div i {
                    font-size: 1.35em;
                }

                #footer-email-wrapper input {
                    width: 97%;
                    display: block;
                }

                #footer-email-wrapper span {
                    width: 50%;
                    display: block;
                    margin: 15px auto;
                }
            }

            .footer-column:not(:last-child) {
                width: 100%;
                vertical-align: top;
            }

            .footer-column:last-child {
                width: 100%;
                text-align: center;
                border-top: 1px solid gainsboro;
                padding-top: 25px;
            }
        }

        #footer-catalogs {
            margin-bottom: 15px;


            .nav-catalog-wrapper {
                display: block;
                max-width: none;
                margin: 0;
                font-family: 'Verlag-Light';
                border-bottom: none;
                padding: 0;

                .nav-catalog-name {
                    text-align: center;
                    text-transform: none;
                    font-size: 12pt;
                    padding: 4px 0;
                    font-family: 'Verlag-Light';
                }

                img {
                    display: none;
                }
            }
        }
    }
}

@media only screen and (min-width:480px) and (max-width:599px) {
    footer {
        .footer-column-wrapper {
            width: 100%;
            display: block;

            .footer-column {
                display: inline-block;
                text-align: center;

                #footer-social div i {
                    font-size: 1.35em;
                }

                #footer-email-wrapper input {
                    width: 97%;
                    display: block;
                }

                #footer-email-wrapper span {
                    width: 50%;
                    display: block;
                    margin: 15px auto;
                }
            }

            .footer-column:not(:last-child) {
                width: 49%;
                vertical-align: top;
            }

            .footer-column:last-child {
                width: 100%;
                text-align: center;
                border-top: 1px solid gainsboro;
                padding-top: 25px;
            }
        }

        #footer-catalogs {
            margin-bottom: 15px;

            .nav-catalog-wrapper {
                display: block;
                max-width: none;
                margin: 0;
                font-family: 'Verlag-Light';
                border-bottom: none;
                padding: 0;

                .nav-catalog-name {
                    text-align: center;
                    text-transform: none;
                    font-size: 12pt;
                    padding: 3px 0;
                    font-family: 'Verlag-Light';
                }

                img {
                    display: none;
                }
            }
        }
    }
}

    @media only screen and (min-width:600px) and (max-width:1199px) {
        footer {
            .footer-column-wrapper {
                width: 100%;
                display: block;

                .footer-column {
                    display: inline-block;

                    #footer-social div i {
                        font-size: 1.35em;
                    }

                    #footer-email-wrapper input {
                        width: 35%;
                        display: block;
                        margin:0 auto;
                    }

                    #footer-email-wrapper span {
                        width: 15%;
                        display: block;
                        margin: 15px auto;
                    }
                }

                .footer-column:not(:last-child) {
                    width: 24%;
                    vertical-align: top;
                }

                .footer-column:last-child{
                    width:100%;
                    text-align:center;
                    border-top:1px solid gainsboro;
                    padding-top:25px;
                }
            }
        }        
    }

    @media only screen and (max-width:1023px){
        footer {
            #family-brands-wrapper {
                .brand-wrapper {
                    width: 100%;
                }
            }
        }
    }

    @media only screen and (min-width:600px) and (max-width:768px) {
        #footer-catalogs {
            .nav-catalog-wrapper {
                display: block;
                max-width: none;
                margin: 0;
                font-family: 'Verlag-Light';
                border-bottom: none;
                padding: 0;

                .nav-catalog-name {
                    text-align: left;
                    text-transform: none;
                    font-size: 12pt;
                    padding: 4px 0;
                    font-family: 'Verlag-Light';
                }

                img {
                    display: none;
                }
            }
        }
    }

    @media only screen and (min-width:1024px) and (max-width:1400px) {
        #nav-link-wrapper {
            #header-logo {
                width: 21%;
            }

            ul li {
                margin: 0 .55vw;
                font-size:9pt;
            }

            #nav-search-wrapper {
                width: 18%;
                text-align: right;

                #nav-search-box {
                    padding: 5px;
                    width: 85%;
                }

                #nav-search-btn {
                    right: 20%;
                }
            }
        }

        .nav-right-image-link{
            width:25%;
        }

        #nav-dropdown{
            top:92px;
        }

        footer {
            #family-brands-wrapper {
                .brand-wrapper {
                    width: 31.5%;
                }
            }
        }
    }