﻿#made-for-you-wrapper {
  width: 90%;
  margin: 0 auto 25px; }

.pr-wrapper {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-bottom: 1px solid gainsboro;
  padding-bottom: 15px; }

#imgwrapper {
  width: 40%;
  display: inline-block;
  vertical-align: top;
  margin-top: 35px;
  text-align: center; }

#imgwrapper img {
  width: 60%; }

#copywrapper {
  width: 59%;
  display: inline-block;
  vertical-align: top; }

.title {
  margin: 25px 0;
  font-weight: bold;
  font-size: 15pt; }

.link {
  margin: 15px 0; }

.link a {
  font-weight: bold;
  color: black;
  font-size: 14px;
  text-decoration: underline; }

@media only screen and (max-width: 1023px) {
  #imgwrapper, #copywrapper {
    width: 100%; }
  #imgwrapper img {
    width: 300px; } }
