﻿#nav-dropdown {
    font-family: 'Verlag-Light';
    cursor: pointer;
}

/*PRODUCT SECTION*/

/*ONE LEVEL NAV*/

.nav-catalog-wrapper{
    display:inline-block;
    text-align:center;
    margin:1.525%;
    max-width:125px;
    vertical-align:top;
}

.nav-catalog-name{
    padding:10px 0 0;
    color:black;
    text-transform:uppercase;
    font-size:10pt;
    font-family:'Verlag-Light';
}



/*TWO LEVEL NAV*/

#two-level-nav-wrapper {
    display: flex;
    flex-direction: row;
    border-bottom:1px solid gainsboro;
}

#nav-left {
    display: inline-flex;
    flex-direction: column;
    width: 20%;
    background-color: #F1EFED;
    padding: 10px 0;
    border-right: 1px solid gainsboro;
    /*box-shadow: 10px 0 5px -2px #888;*/
}

.nav-left-link{
    font-size:10pt;
    padding:10px;
    cursor:pointer;
    text-transform:uppercase;
}

.indent {
    padding-left:30px;
}

.nav-left-header {
    font-size: 10pt;
    padding: 10px;   
    text-transform: uppercase;
}

#nav-right {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;

    #nav-right-header {
        width: 100%;
        margin: 15px 5%;
        text-transform: uppercase;
        font-size: 13pt;
        display:none;
    }
}

.nav-right-image-link{
    width:20%;
    cursor:pointer;  
    padding:15px 0;
    display:inline-flex;
    flex-direction:column;
    /*justify-content:center;*/
    align-items:center;
    text-align:center;

    a{
        color:black;
    }
}

.nav-right-title{
    font-size:10pt;
    text-transform:uppercase;
}

#nav-right-link-list{
    columns:4;
    -webkit-columns:4;
    -moz-columns:4;
    list-style:none;
    margin:15px 0;
    width:100%;

    li{
        text-align:center;
        font-size:10pt;
        text-transform:uppercase;
    }

    li:not(:first-of-type){       
        /*width:20%;*/
        margin:15px 0;        
        /*span:not(:){
            padding:15px 0;
        }*/
    }

    a{
        color:black;
    }
}

@media only screen and (min-width:1024px) and (max-width:1400px) {   
    .nav-right-image-link {
        width: 25%;
        justify-content:flex-start;
    }
}

@media only screen and (max-width:768px) {
    .nav-left-link, .second-level-link {
        font-size: 9.5pt;
        text-transform: uppercase;
    }

    
 }

@media only screen and (max-width:1023px) {
    .nav-catalog-wrapper {
        display: block;
        text-align: left;
        font-family: 'MillerText-Roman';
        border-bottom: 1px solid gainsboro;
        padding: 10px 0 10px 35px;
        margin: 0;
        max-width: none;

        .nav-catalog-name {
            font-family: 'MillerText-Roman';
        }

        a {
            div {

                img {
                    display: none;
                }
            }
        }
    }
}