﻿.img-wrapper {

    img {
        width: 100%;
    }
}

#content {
    width: 75%;
    margin: 25px auto 0;
    display: flex;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*padding-bottom: 100px;*/

    /*div {
        margin-bottom: 25px;
    }*/

    .dim-wrapper, .desc-wrapper, .qty-wrapper {
        font-size: 12pt;
        line-height: 1.5;
        /*width: 50%;*/
        /*margin: 15px auto;*/
    }

    
}

.name-wrapper {
    font-size: 15pt;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dim-wrapper {
    padding: 15px 0;
}

#product-collection, #product-sku{
    margin:5px 0;
}

#logo-wrapper {
    width: 100%;
    margin: 0 0;

    div {
        font-size: 35pt;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        color: #cfa44a;
        text-transform: uppercase;
    }

    a {
        font-weight: bold;
        font-size: 4vw;
    }
}

#wl-text-print{
    display:none;
}
/*#desc-wrapper{
    font-size:13pt;line-height:1.5;
}*/
@media print {
    html, body{
        height:auto;
        width:100%;
        margin:0!important;
        padding:0!important;
    }

    #content{
        width:100%;
        padding-bottom:0;
        display:flex;
        margin:0px auto;
    }

    #logo-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 25px 0;
        /*page-break-after: auto;*/
        /*height: 30% !important;*/
        div {
            font-size: 35pt;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-align: center;
            color: #cfa44a;
            text-transform: uppercase;
        }


        a {
            font-size: 6vw;
        }
    }

    #wl-text-print {
        display: block;
        font-size: 4vw;
        color: #655709;
    }

    /*.img-wrapper{

        img{
            width:100;
        }
    }*/

    .dim-wrapper, .desc-wrapper, .qty-wrapper{
        width:90%!important;
        font-size:10pt;
        margin-bottom:25px;
    }

    .print-product-wrapper {
        /*page-break-after:always;*/
    }
}

@media screen and (min-width:320px) and (max-width:767px) {
    #logo-wrapper {       
        a {
            font-size: 6vw;
        }
    }

    .img-wrapper{

        img{
            width:90%;
        }
    }
}
