﻿#product-wrapper {
  display: flex; }

#product-left-section {
  display: inline-flex;
  flex-direction: column;
  width: 55%;
  margin-right: 5%;
  justify-content: center; }

#color-note {
  width: 80%;
  text-align: center;
  margin: 25px auto;
  font-family: Verlag-Light;
  font-size: 11pt; }

#product-right-section {
  display: inline-flex;
  flex-direction: column;
  width: 40%;
  padding-top: 100px; }
  #product-right-section #product-title {
    font-size: 17pt;
    font-family: 'MillerText-Roman';
    /*margin:5px 0;*/ }
  #product-right-section #product-collection {
    font-size: 12pt;
    font-family: 'MillerText-Roman';
    /*margin:5px 0;*/ }
  #product-right-section #product-sku {
    font-size: 12pt;
    font-family: 'Verlag-Light';
    /*margin:5px 0;*/ }
  #product-right-section #product-icons {
    font-size: 12pt;
    font-family: 'Verlag-Light'; }
    #product-right-section #product-icons .product-icon {
      display: inline-block; }
  #product-right-section #product-dims {
    margin: 15px 0;
    font-size: 12pt;
    font-family: 'Verlag-Light'; }
  #product-right-section #accordion {
    width: 90%; }
  #product-right-section .accordion-title {
    font-size: 13pt;
    padding: 10px 0;
    border-bottom: 1px solid gainsboro;
    font-family: 'MillerText-Roman'; }
    #product-right-section .accordion-title span {
      display: inline-flex; }
    #product-right-section .accordion-title span:first-of-type {
      width: 95%; }
    #product-right-section .accordion-title span:last-of-type {
      font-size: 10pt; }
  #product-right-section .accordion-content {
    padding: 15px 0;
    display: none;
    border-bottom: 1px solid gainsboro;
    font-family: 'Verlag-Light';
    /*width:95%;
        margin:0 auto;*/ }
  #product-right-section #made-for-you {
    padding: 25px 0; }
  #product-right-section .item-doc {
    width: 20%;
    text-align: center;
    font-size: 10pt; }
    #product-right-section .item-doc i {
      font-size: 1.25em; }
    #product-right-section .item-doc a {
      color: black; }
  #product-right-section #pew-list {
    list-style: none;
    cursor: pointer; }
    #product-right-section #pew-list a {
      color: black; }
    #product-right-section #pew-list li {
      margin: 7px 0; }
      #product-right-section #pew-list li i {
        margin-right: 10px; }

.slick-slider {
  margin: 25px 0 0; }

.slick-slide img {
  max-height: 500px;
  margin: 50px auto; }

.slick-prev {
  left: 25px;
  z-index: 9999; }

.slick-next {
  right: 25px;
  z-index: 9999; }

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
  opacity: .75; }

.slick-prev:before, .slick-next:before {
  color: gray;
  opacity: .75; }

h3 {
  font-size: 20px; }

.ui-tabs .ui-tabs-nav li {
  font-family: 'Verlag-Light'; }

.ui-tabs-panel {
  font-family: 'Verlag-Light'; }

#finishes ul {
  list-style: none; }
  #finishes ul li {
    display: inline-block;
    width: 19.75%;
    text-align: center; }
    #finishes ul li span {
      display: block; }

#related .related-item {
  display: inline-block;
  width: 19.75%;
  text-align: center;
  vertical-align: top;
  margin: 15px 0; }
  #related .related-item .related-item-sku {
    font-size: 9pt;
    font-weight: bold; }
  #related .related-item .related-item-name {
    font-size: 9pt; }

#dims table {
  width: 60%;
  margin: 0 auto; }

#fabrics #fabric-message {
  margin: 20px; }

#fabrics h3 {
  margin-top: 20px; }

#fabrics ul {
  list-style: none; }
  #fabrics ul li {
    display: inline-block;
    width: 19.75%;
    text-align: center; }

@media only screen and (max-width: 899px) {
  #product-wrapper {
    display: block; }
  #product-left-section {
    display: block;
    width: 100%; }
  #product-right-section {
    display: block;
    width: 95%;
    padding-top: 0;
    margin: 0 auto; }
    #product-right-section #accordion {
      width: 100%; }
    #product-right-section .item-doc {
      width: 50%; }
  .slick-slide img {
    width: 70%;
    margin: 0 auto; }
  #dims table {
    width: 100%;
    margin: 0 auto; } }

@media only screen and (min-width: 900px) and (max-width: 1350px) {
  .slick-slide img {
    max-height: 325px; }
  #product-right-section .item-doc {
    width: 33%; } }

@media print {
  #nav-wrapper, #nav-link-wrapper, footer, #product-thumbnail-slick-gallery, #made-for-you, .accordion-section:not(:first-child) {
    display: none; }
  .slick-slide, .slick-active, .slick-active img, #product-image-gallery {
    width: 400px !important; } }
