﻿#results-banner {
  display: flex;
  border-bottom: 1px solid gainsboro; }
  #results-banner #banner-img {
    width: 45%; }
    #results-banner #banner-img img {
      width: 100%; }
  #results-banner #banner-text {
    width: 55%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto; }
    #results-banner #banner-text #banner-coll-name {
      font-family: 'MillerText-Roman';
      font-size: 30pt;
      margin-bottom: 25px; }
    #results-banner #banner-text #banner-desc {
      font-family: 'Verlag-Light';
      width: 75%; }

#search-result-wrapper {
  width: 95%;
  margin: 50px auto;
  font-family: 'MillerText-Roman'; }

#search-wrapper-title {
  font-size: 23px;
  text-transform: uppercase;
  margin-left: 2.5%;
  margin-top: 25px; }

.search-item {
  display: inline-block;
  width: 24.5%;
  text-align: center;
  font-size: 11pt;
  /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
  margin: 10px 0; }
  .search-item .search-item-sku {
    font-weight: bold;
    font-family: 'Verlag-Light'; }
  .search-item a {
    color: black; }
  .search-item img {
    max-width: 150px;
    margin: 25px 0; }

@media only screen and (min-width: 200px) and (max-width: 499px) {
  .search-item {
    width: 100%; } }

@media only screen and (min-width: 500px) and (max-width: 677px) {
  .search-item {
    width: 48.5%;
    vertical-align: top; } }

@media only screen and (min-width: 678px) and (max-width: 1023px) {
  .search-item {
    width: 32.5%; } }

@media only screen and (max-width: 1199px) {
  #banner-img {
    display: none; }
  #banner-text {
    width: 100% !important; }
    #banner-text #banner-desc {
      width: 90% !important; } }
