﻿a {
    color: black !important;
}

#showroom-wrapper {
    display: flex;
    margin: 25px 0;
}

#showroom-img-wrapper {
    display: inline-flex;
    flex-direction: column;
    width: 60%;
}

#showroom-img-wrapper img {
    width: 90%;
    margin: 0 auto;
}

#showroom-content-wrapper {
    display: inline-flex;
    flex-direction: column;
    width: 40%;
    margin: 0 5%;
}

#showroom-name {
    font-size: 23pt;
    font-family: 'MillerText-Roman';
    margin-bottom: 15px;
}

#showroom-map {
    font-family: 'Verlag-Light';
    margin-bottom: 15px;
}

#showroom-university-wrapper {
    font-family: 'Verlag-Light';
    margin-bottom: 15px;
}

#showroom-hours-wrapper {
    font-family: 'Verlag-Light';
    margin-bottom: 15px;
}

#showroom-hours-note {
    font-size: 10pt;
    font-weight: bold;
    margin: 10px 0;
}

#showroom-is-public {
    font-family: 'Verlag-Light';
    margin-bottom: 15px;
}

#showroom-contact-wrapper {
    font-family: 'Verlag-Light';
    margin-bottom: 15px;
}

.showroom-link {
    font-family: 'Verlag-Light';
    display: inline-block;
    width: 32.5%;
    text-align: center;
    margin-bottom:25px;
}

.designer-name {
    text-transform: uppercase;
    font-size: 10pt;
}

.designer-title {
    font-size: 10pt;
}

@media only screen and (max-width:1023px) {
    #showroom-wrapper{
        display:block;
        margin:25px 5%;
    }

    #showroom-img-wrapper{
        width:100%;
    }

    #showroom-content-wrapper{
        width:90%;
        margin:50px 5% 0;
    }
}
