﻿#designer-wrapper {
  display: flex;
  margin: 25px 0; }

#designer-img-wrapper {
  display: inline-flex;
  flex-direction: column;
  width: 43%; }

#designer-img-wrapper img {
  width: 100%;
  margin: 0 auto; }

#designer-content-wrapper {
  display: inline-flex;
  width: 48%;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#designer-name {
  font-size: 23pt;
  font-family: 'MillerText-Roman';
  margin-bottom: 10px; }

#designer-title {
  font-size: 15pt;
  font-family: 'MillerText-Roman';
  margin-bottom: 50px; }

#designer-bio {
  font-family: 'Verlag-Light';
  margin-bottom: 25px; }

#designer-email {
  font-family: 'Verlag-Light';
  margin-bottom: 25px; }

#designer-email a {
  color: black;
  font-weight: bold;
  text-decoration: underline !important; }

#designer-project-wrapper {
  margin: 25px 0;
  padding-top: 25px;
  border-top: 1px solid gainsboro;
  width: 100%;
  text-align: center;
  font-family: 'Verlag-Light'; }

#designer-project-header {
  font-size: 15pt;
  font-family: 'MillerText-Roman'; }

#project-wrapper {
  margin: 25px 0; }

.proj-link {
  display: inline-block;
  width: 33%;
  margin: 0 15px; }

.proj-link img {
  width: 75%;
  margin: 0 auto; }

@media only screen and (max-width: 899px) {
  #designer-wrapper {
    display: block; }
  #designer-img-wrapper {
    display: block;
    width: 90%;
    margin: 0 auto; }
  #designer-content-wrapper {
    display: block;
    width: 90%;
    margin: 0 auto;
    text-align: center; } }
