﻿/*@font-face {
    font-family: 'Verlag-BoldItalic';
    src: url('/fonts/Verlag-BoldItalic.eot');
    src: url('Verlag-BoldItalic.eot?#iefix') format('embedded-opentype'), url('Verlag-BoldItalic.ttf') format('truetype'), url('Verlag-BoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Verlag-Black';
    src: url('Verlag-Black.eot');
    src: url('Verlag-Black.eot?#iefix') format('embedded-opentype'), url('Verlag-Black.ttf') format('truetype'), url('Verlag-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Verlag-Bold';
    src: url('Verlag-Bold.eot');
    src: url('Verlag-Bold.eot?#iefix') format('embedded-opentype'), url('Verlag-Bold.ttf') format('truetype'), url('Verlag-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Verlag-Book';
    src: url('Verlag-Book.eot');
    src: url('Verlag-Book.eot?#iefix') format('embedded-opentype'), url('Verlag-Book.ttf') format('truetype'), url('Verlag-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}*/

/*@font-face {
    font-family: 'Verlag-BookItalic';
    src: url('/fonts/');
    src: url('Verlag-BookItalic.eot?#iefix') format('embedded-opentype'), url('Verlag-BookItalic.ttf') format('truetype'), url('Verlag-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
    font-family: 'Verlag-Light';
    src: url('/fonts/Verlag-Light.eot');
    src: url('/fonts/Verlag-Light.eot?#iefix') format('embedded-opentype'), url('/fonts/Verlag-Light.ttf') format('truetype'), url('/fonts/Verlag-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*@font-face {
    font-family: 'Verlag-LightItalic';
    src: url('Verlag-LightItalic.eot');
    src: url('Verlag-LightItalic.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}*/

/*@font-face {
    font-family: 'Verlag-XLight';
    src: url('Verlag-XLight.eot');
    src: url('Verlag-XLight.eot?#iefix') format('embedded-opentype'), url('Verlag-XLight.ttf') format('truetype'), url('Verlag-XLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
    font-family: 'MillerText-Roman';
    src: url('/fonts/MillerText-Roman.eot');
    src: url('/fonts/MillerText-Roman.eot?#iefix') format('embedded-opentype'), url('/fonts/MillerText-Roman.ttf') format('truetype'), url('/fonts/MillerText-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*@font-face {
    font-family: 'MillerText-Bold';
    src: url('MillerText-Bold.eot');
    src: url('MillerText-Bold.eot?#iefix') format('embedded-opentype'), url('MillerText-Bold.ttf') format('truetype'), url('MillerText-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MillerText-Italic';
    src: url('MillerText-Italic.eot');
    src: url('MillerText-Italic.eot?#iefix') format('embedded-opentype'), url('MillerText-Italic.ttf') format('truetype'), url('MillerText-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}*/
