﻿@ModelType Dealers

@Code
    Dim currCountry As String = ""
End Code

@If Model.allStateLists.Count > 1 Then
    Dim i As Integer = 0

    @For Each country In Model.allStateLists
            @<optgroup label="@country.First.countryName">
                @For Each state In Model.allStateLists(i)
                    @<option id="@state.stateAbbr">@state.stateName</option>
                Next
            </optgroup>       

        i += 1
    Next

End If

@*@For Each s In Model.stateList
    @Code
        If currCountry <> s.countryName And currCountry <> "" Then

        ElseIf currCountry <> s.countryName Then

        End If
    End Code
        Next*@
